<section class="genre-details">
  <div class="image">
    <div class="details">
      <h1><%= @genre.name %> Movies</h1>
    </div>
    <%= image_tag @genre.image_file_name %>
    <% if current_user_admin? %>
      <section class="admin">
        <%= link_to "Edit", edit_genre_path(@genre), class: "button" %>
        <%= link_to "Delete", genre_path(@genre), method: :delete,
          data: { confirm: "Are you sure?" }, class: "button" %>
      </section>
    <% end %>
  </div>
  <div class="details">
    <% @movies.each do |movie| %>
      <section class="movie" id=<%= "movie-#{movie.id}" %>>
        <div class="image">
          <%= main_image(movie) %>
        </div>
        <div class="summary">
          <h2>
            <%= link_to movie.title, movie %>
          </h2>
          <h3>
            <%= total_gross(movie) %>
          </h3>
          <span class="stars">
            <%= render "shared/stars", percent: movie.average_stars_as_percent %>
          </span>
          <p>
            <%= truncate(movie.description, length: 150, separator: ' ') %>
          </p>
        </div>
      </section>
    <% end %>
  </div>
</section>
