<section class="genre-details">
  <div class="image">
    <div class="details">
      <h1><%= @genre.name %> Movies</h1>
    </div>
    <%= main_image(@genre) %>
    <% if current_user_admin? %>
      <section class="admin">
        <%= link_to "Edit", edit_genre_path(@genre), class: "button" %>
        <%= link_to "Delete", genre_path(@genre), method: :delete,
          data: { confirm: "Are you sure?" }, class: "button" %>
      </section>
    <% end %>
  </div>
  <div class="details">
    <% @movies.each do |movie| %>
      <% cache movie do %>
        <%= render movie%>
      <% end %>
    <% end %>
  </div>
</section>
