<section class="genre-details">
  <div class="image">
    <div class="details">
      <h1><%= @genre.name %> Movies</h1>
    </div>
    <%= main_image(@genre) %>
    <% if current_user_admin? %>
      <section class="admin">
        <div class="flex left">
          <%= button_to "Edit", edit_genre_path(@genre), method: :get, class: "button" %>
          <%= button_to "Delete", genre_path(@genre), method: :delete,
            data: { confirm: "Are you sure?" }, class: "button" %>
        </div>
      </section>
    <% elsif true %>
      <section class="admin">
        <div class="flex left">
          <%= render "shared/disabled_button", label: "Edit" %>
          <%= render "shared/disabled_button", label: "Delete" %>
        </div>
      </section>
    <% end %>
  </div>
  <div class="details">
    <% @movies.each do |movie| %>
      <% cache movie do %>
        <%= render movie%>
      <% end %>
    <% end %>
  </div>
</section>
