<h1><%= pluralize(@movies.size, "Movie") %></h1>
<ul>
<% @movies.each do |movie| %>
  <li>
    <strong><%= movie.title %></strong>
    (<%= movie.rating %>):
    <%= number_to_currency(movie.total_gross, precision: 0) %>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ') %>
    </p>
    <p>
      <%= movie.released_on %>
    </p>
  </li>
<% end %>
</ul>