<div class="search" align="center">
  <%= form_with(url: movies_path, method: :get,
        data: {
          turbo_frame: "movies_results",
          turbo_action: "advance",
          controller: "form",
          action: "input->form#submit" }) do |f| %>
    <div>
      <%= f.search_field :query, placeholder: "Find movies by their title...",
        value: params[:query] %>
    </div>
    <%= f.hidden_field :filter, value: params[:filter] %>
  <% end %>
</div>

<%= turbo_frame_tag "movies_results" do %>
  <%= render @movies %>
<% end %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Movie", new_movie_path %>
  </section>
<% end %>