<% content_for_title(page_title) %>

<%= form_with(model: user, local: true) do |f| %>
  <%= render "shared/errors", object: user %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "Alphanumeric characters only!" %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <% if current_user_admin? %>
    <div class="checkboxes">
      <%= check_box(:user, :admin) %>
      <%= f.label :admin, "Admin?" %>
    </div>
  <% elsif true %>
    <%= render "shared/disabled_check_box", label: "Admin?", id: "admin" %>
  <% end %>

  <%= f.submit button_value(user) %>
<% end %>