<h1>Review for <%= link_to @movie.title, @movie %></h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= pluralize(review.stars, "star") %>
      by <%= review.name %>:
      <%= review.comment %>
      <%= time_ago_in_words(review.created_at) %> ago
    </li>
  <% end %>
</ul>