<header>
  <nav>
    <%= link_to image_tag("logo.png", id: "header-logo", alt: "Header Logo"), root_path %>
    <ul class="left">
      <li>
        <%= nav_link_to "Released", movies_path %>
      </li>
      <li>
        <%= nav_link_to "Upcoming", movies_path(filter: :upcoming) %>
      </li>
      <li>
        <%= nav_link_to "Recent", movies_path(filter: :recent) %>
      </li>
      <li>
        <%= nav_link_to "Hits", movies_path(filter: :hits) %>
      </li>
      <li>
        <%= nav_link_to "Flops", movies_path(filter: :flops) %>
      </li>
      <li>
        <%= nav_link_to "Genres", genres_path %>
      </li>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to "Account Settings", edit_user_path(current_user) %>
        </li>
        <li>
          <%= button_to "Sign Out", session_path, method: :delete, class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", signin_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>